.App{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
  background-color: rgb(0, 0, 0);
  height:500px;
  
}



.titulo{
  width: 600px;
 
  min-height: 100px;
  background-color: #12c029;
  padding: 25px;
  margin: 10px;
  border-radius: 26px;
  justify-content: center;
  border-bottom-style:inset  ;
  border-color: yellow;
 
 
  

  
}

h1{
  color: rgb(0, 0, 0);
  display: flex;
  font-size: 80px;
  margin: 10px 40px 10px 200px;
 
}

body{
 
  background-color: rgb(0, 0, 0);
}